* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    min-height: 100vh;
    background: linear-gradient(135deg, #0f172a, #1e293b);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 450px;
    background: white;
    padding: 30px;
    border-radius: 18px;
    text-align: center;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.35);
}

h1 {
    color: #0f172a;
    margin-bottom: 10px;
}

.subtitle {
    color: #64748b;
    margin-bottom: 25px;
}

.input-box {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

input {
    flex: 1;
    padding: 12px;
    border: 1px solid #cbd5e1;
    border-radius: 10px;
    outline: none;
}

button {
    padding: 12px 16px;
    border: none;
    background: #2563eb;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background: #1d4ed8;
}

ul {
    list-style: none;
}

li {
    background: #f1f5f9;
    margin-bottom: 10px;
    padding: 12px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.completed {
    text-decoration: line-through;
    color: #16a34a;
    font-weight: bold;
}

.delete-btn {
    background: #dc2626;
    padding: 7px 10px;
}

.delete-btn:hover {
    background: #b91c1c;
}